* {
    box-sizing: border-box;
}

.content {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 65%;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.rNavi {
    position: fixed;
    right: 10px;
    width: 16%;
    /* width: 15rem; */
    background-color: white;
    margin: 7px 0;
    /* padding: 15px; */
    border-radius: 5px;
    box-shadow: 0 5px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.rNavi > .item {
    position: relative;
    height: 50px;
    border-bottom: solid 1.5px rgb(219, 219, 219);
}

.rNavi > .item > .item_img {
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    height: 100%;
}

.rNavi > .item > div {
    position: absolute;
    display: table-cell;
    margin-left: 50px;   
}

.rNavi > .item >  .title {
    line-height: 50px;
    /* font-size: 25px; */
}